/* styles.css */
html, body {
    overflow-x: hidden;
}

body{
    color: #3A4D39;
    background-color: #3A4D39;
    margin: 0;
    font-family: "Anaheim";
    font-size: x-large;
    font-weight: 400;
}

.title, .links, .image, .subtitle, .text, .images, .footer, .socialLinks{
    display: flex;
    justify-content: center;
}

.title{
    color: black;
    transition: transform, 0.5s;
}

.title:hover{
    transform: scale(1.15);
    text-shadow: 3px 3px  rgba(0, 0, 0, 0.2);
}

.about{
    height: 600px;
    padding: 25px 25px 0;
    display: flex;
    background-color: #4F6F52;
    background-image: linear-gradient(rgb(211, 209, 185),#4F6F52);
    color: #000;
    justify-content:center;
    align-items: center;
}

#headshot{
    height: 600px;
    position: absolute;
    left: 15%;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 2s 0.5s forwards;
    display: block;
    filter: drop-shadow(7px 0px rgba(0, 0, 0, 0.2));
}

@keyframes fadeIn {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}

#aboutMe{
    position: absolute;
    margin: 25px;
    width: 500px;
    opacity: 0;
    z-index: 1;
    animation: fromFarLeft 3s 2s forwards;
}

@keyframes fromFarLeft {
    0%{transform: translateX(-100vw);}
    100%{transform: translateX(15vw);
    opacity: 1;}
}

.image{
    background-color: #3A4D39;
    height: 250px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lineOfWork{
    height: 125px;
    padding: 25px;
    background-color: #ECE3CE;
    transition: font-size, background-color, color, 0.5s;
}

a {
    color: inherit;
    text-decoration: none;
}


#dev:hover, #animator:hover, #musician:hover{
    font-size: larger;
    font-weight: bolder;
    background-color: #c6b89c;
    color: black;
}

.subtitle{
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.2);
}

#dev .subtitle, #projectsSubtitle{
    font-family: 'Noto Sans Mono';font-size: 22px;
}

#animator{
    background-color: #4F6F52;
    color: #252525;
}

#animator .subtitle, #animations .subtitle{
    font-family: 'Permanent Marker';font-size: 22px;
}

#musician .subtitle, #musicSubtitle{
    font-family: 'Sedgwick Ave Display';font-size: 22px;
}

.images{
    padding: 0 25px;
    align-items: center;
}

#images1{
    background-color: #4F6F52;
    padding-top: 25px;
}

#images2{
    background-color: #3A4D39;
}

#images3{
    background-color: #4F6F52;
    padding-bottom: 25px;
}

.images img{
    margin: 25px;
    width: 450px;
    height: 450px;
    object-fit: cover;
    overflow: hidden;
    box-shadow:  4px 6px rgba(0, 0, 0, 0.1);
    transition: width, height, box-shadow, 0.5s;
    cursor: pointer;
}

.images img:hover{
    width: 475px;
    height: 475px;
    margin: 12px 13px;
    box-shadow:  8px 10px rgba(0, 0, 0, 0.1);
}

.pageHeader{
    padding: 15px;
    background-color: #ECE3CE;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animationsSubtitle, #projectsSubtitle{
    z-index: 2;
}

#mainGif{
    cursor: pointer;
    position: absolute;
    left: -150px;
    animation: walk 12s linear infinite;
    z-index: 3;
    display: block;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.2));
}

@keyframes walk {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(2000px);}
}

.video, .feltgame{
    background-color:#c6b89c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.description{
    background-color: rgb(1, 1, 1, 0.1);
    padding: 25px;
    width: 500px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow: hidden;
    color: #000;
}

#game-description{
    max-height: fit-content;
}

.video iframe {
    max-height: 400px;
    width: 560px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #000;
    transition: transform, 0.5s;
}

.video iframe:hover{
    transform: scale(1.12);
}

#felt iframe{
    width: 420px;
}

#ffff iframe, #bunny iframe{
    animation-name: fromLeft;
    animation-duration: 2s;
    margin-left: 50px;
}

#ffff, #bunny{
    background-color: #739072;
}

#ffff .description, #bunny.description{
    margin-right: 50px;
}

#felt iframe{
    animation-name: fromRight;
    animation-duration: 2s;
    margin-right: 100px;
}
#felt .description{
    margin-left: 100px;
}
.feltgame img, .feltgame iframe{
    display: block;
    filter: drop-shadow(7px 7px rgba(0, 0, 0, 0.2));
    transition: transform, 0.5s;
}

.feltgame iframe:hover{
    transform: scale(1.12);
}

@keyframes fromLeft {
    0%{transform: translateX(-1000px);
        opacity: 0;}
    100%{transform: translateX(0);
        opacity: 1;}
}

@keyframes fromRight {
    0%{transform: translateX(1000px);
        opacity: 0;}
    100%{transform: translateX(0);
        opacity: 1;}
}


.footer{
    background-color: #ECE3CE;
    padding-top: 25px;
    color:#739072;
    align-items: center;
    flex-direction: column;
}

.socialLinks{
    margin: 10px;
    gap: 10px;
}
.socialLinks a{
    color:#4F6F52;
    transition: transform, color, 0.5s;
}


#linkedIn:hover{
    color:dodgerblue;
    transform: scale(1.15);

}

#youtube:hover{
    color:red;
    transform: scale(1.15);

}

#spotify:hover{
    color: limegreen;
    transform: scale(1.15);
}

#home:hover{
    color: #000;
    transform: scale(1.15);

}


#asteroid1{
    position: absolute;
    left: 0px;
    top: 150p;
    animation: asteroid 5s linear;
    cursor: pointer;
    transition: left 7s linear, top 7s linear;
    filter: drop-shadow(7px 7px rgba(0, 0, 0, 0.2));

}

#score {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    z-index: 100;
    color: #0dff00;
    padding: 15px;
    
}

#blasteroid-game, #king-game{
    background-color: #4F6F52;
}
#felt-knight-game{
    background-color: #c6b89c;
}

.game-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshot{
    width: 650px;
    height: 335px;
    object-fit: cover;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    margin: 25px;
}

#blasteroidsScreenShot{
    animation: fromLeft 2s;
}

#feltKnightScreenShot{
    animation: fromRight 2s;
}

.game {
    background-color:#c6b89c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-description{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameLink{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 25px;
    transition: transform, background-color, font-weight, color, 0.5s;
    color: #252525;
    margin-bottom: 50px;
}

.gameLink:hover{
    transform: scale(1.15);
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

.game-gif{
    width: 51.5px;
    filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.2));
    padding-left: 5px;
}

#game-description{
    width: 650px;
    margin: 25px;
}

.musicDescription{
    background-color: #c6b89c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 25px;
    height: 500px;
}

.creativeLibertyDesc{
    background-color: rgb(1, 1, 1, 0.1);
    padding: 25px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    width: 60%;
    margin: 25px;
}
.spotify{
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 25px;
}

.spotify iframe{
    opacity: 0;
    height: 400px;
    filter: drop-shadow(7px 7px rgba(0, 0, 0, 0.3));
    transition: filter, 0.3s ease;
    animation: fadeIn 2s 2s forwards;
}

.spotify iframe:hover{
    overflow: visible;
    height: 700px;
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.3));
}


/* @keyframes pulse {
    0%{
        opacity: 0.1;
        font-size: small;
    }
    50%{
        opacity: 1;
        font-size: x-large;
    }
    100%{
        opacity: 0.1;
        font-size: small;
    }
} */

/* .musicList{
    display: flex;
    padding: 5px;
}

.song {
    background-color: #4F6F52;
    font-style: italic;
    padding: 25px;
    margin: 5px 0;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform, color, 0.5s;
}

.song:hover{
    transform: scale(1.15);
    background-color:#739072;
} */

.focus{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vh;
    height: 85vh;
    z-index: 1000;
    object-fit: cover;
    box-shadow: 17px 17px rgba(0, 0, 0, 0.2);
    opacity: 1;
    cursor: pointer;
    transition: width, height, transform, opacity, 0.3s ease;
}

.focus:hover{
    box-shadow: 25px 25px rgba(0, 0, 0, 0.2);
    width: 90vh;
    height: 90vh;
}

.shrink {
    transform: scale(0); 
    opacity: 0; 
}

#veil{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 999;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.selectorButton{
    font-size: 5vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform, background-color 0.5s ease;
    user-select: none;
}

.selectorButton:hover{
    background-color: white;
    transform: scale(1.05);
}